name: Build and Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" \
            | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push image
        run: |
          IMAGE=ghcr.io/hosackm/test-argo-api
          TAG=sha-${GITHUB_SHA::7}

          docker build -t $IMAGE:$TAG .
          docker push $IMAGE:$TAG

          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: Update deployment.yaml
        run: |
          sed -i \
            "s|image: .*|image: ghcr.io/hosackm/test-argo-api:${IMAGE_TAG}|" \
            app/deployment.yaml

      - name: Commit and push deployment update
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add app/deployment.yaml
          git commit -m "Deploy ${IMAGE_TAG}"
          git push
